/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zal-primary: #ff6900;
    --zal-white: #ffffff;
    --zal-dark: #1a1a1a;
}

body {
    font-family: sans-serif;
}

h2 {
    font-size: 0.9rem
}

h4 {
    font-size: 0.8rem;
}

/* utils */

.container {
    max-width: 70%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

/* header utils */
.navbar {
    padding: 1rem 0;
    color: var(--zal-white);
    justify-content: space-between;
}

.navbar img {
    height: 30px;
}

.gender {
    gap: 1rem;
}

/* main utils */
.main-content {
    padding: 3rem 0;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.main-content>* {
    width: 32%;
    position: relative;
}

.main-content>* img {
    width: 100%;
}

.brand {
    font-size: 0.7rem;
}

.prezzo-prodotto {
    font-size: 0.8rem;
}

.prezzo-prodotto strong {
    color: red;
}

.art-1,
.art-2,
.art-3 {
    margin-bottom: 2.5rem
}


.preferito {
    width: 40px;
    height: 40px;
    background-color: var(--zal-white);
    font-size: 1.2rem;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 2%;
    left: 89%;
}

.sconto,
.sostenibilità,
.sostenibilità2 {
    width: 40px;
    height: 25px;
    background-color: red;
    color: var(--zal-white);
    text-align: center;
    font-size: 0.7rem;
    line-height: 25px;
    font-weight: bold;
    position: absolute;
    top: 88%;
}

.sostenibilità,
.sostenibilità2 {
    background-color: green;
    width: 80px;
    left: 13%
}

.sostenibilità2 {
    left: 0
}

.art-1_top,
.art-2_top,
.art-3_top,
.art-4_top,
.art-5_top,
.art-6_top {position: relative;}

.hov-1,
.hov-2,
.hov-3,
.hov-4,
.hov-5,
.hov-6 {display: none}


.art-1_top:hover .hov-1{display: block;
                        position: absolute;}

.art-2_top:hover .hov-2{display: block;
                        position: absolute;}

.art-3_top:hover .hov-3{display: block;
                        position: absolute;}

.art-4_top:hover .hov-4{display: block;
                        position: absolute;}

.art-5_top:hover .hov-5{display: block;
                        position: absolute;}

.art-6_top:hover .hov-6{display: block;
                        position: absolute;}

/* footer utilis */
.footer-content {
    justify-content: space-between;
    color: var(--zal-white);
}

footer h2,
.social {
    padding-top: 1.5rem
}

footer span {
    margin-right: 0.25rem
}


.info-sito {
    font-size: 0.7rem;
    padding: 0.8rem 0.5rem 1.5rem 0
}

.social-icon {
    font-size: 0.9rem;
    padding: 0.8rem 0.5rem 1.5rem 0
}



/* header */
header {
    background-color: var(--zal-primary);
}

a {
    color: var(--zal-white);
    text-decoration: none;
}

/* main */


/* footer */
footer {
    height: 90px;
    background-color: var(--zal-dark);
}